body {
    background-color: #3498db, #a7acaf; /* Cor inicial */
    transition: background-color 5.0s ease; /* Transição suave de cor */
    font:normal 25pt arial;
    text-align: center;
}


body:hover {
    background-color: #18ecf3; /* Nova cor quando o mouse passar sobre o elemento */
}

/*topo da pagina*/
.cabeca {
    color:rgb(0, 0, 0);
    user-select: none;
}

.form {
    margin-top: 5%;
}


.titulo {
    margin-top: 0px;
    user-select: none;
}

.conteudo {
    margin-bottom: 5%;
    padding:25px;
}

.conteudo2 {
    
    padding:25px;
}

/*formulário de perguntas*/
section {
    margin:auto;
    width: 50%;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    border:2px solid black;
    box-shadow: rgba(0, 0, 0, 0.562) 3px 5px 3px 5px;
}

/*Bem vindo*/
.bV {
    padding-top:19px;
}

/*texto de exemplo*/
.ex {
    font-style: italic;
    font: normal 20pt arial;
    user-select: none;
}

/*botão das perguntas*/
.bp {
    background-color: rgba(192, 192, 179, 0.438);
    font: normal 20pt arial;
    width:70%;
    height: 55px;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 25px;
}



.botao {
    padding: 5px;
    margin-top: 20px;
    background-color: rgba(79, 82, 80, 0.096);
    font: normal 20pt arial;
    width:70%;
    height: 55px;
    border-radius: 15px;
    transition: all 0.2s ease;
}

.botao:hover {
    width:72%;
    height: 65px;
    box-shadow:rgba(0, 0, 0, 0.362) 3px 5px 3px 5px;
}